<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Scenarios.Storyboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
<userSettings>
        <Scenarios.Storyboard.Properties.Settings>
                <setting name="vlcPath" serializeAs="String">
                        <value>C:\Users\561951\Downloads\vlc-3.0.2-win32\vlc-3.0.2\vlc.exe</value>
                </setting>
                <setting name="vlcDownloadPath" serializeAs="String">
                        <value>http://download.videolan.org/pub/videolan/vlc/3.0.1/win64/vlc-3.0.1-win64.zip</value>
                </setting>
                <setting name="fireArcPath" serializeAs="String">
                        <value>C:\Temp\!!!Work!!!\Semester 2\Development-Project-2-Final\Unity\Arc\Builds\Arc.exe</value>
                </setting>
                <setting name="thumbnailPath" serializeAs="String">
                        <value>C:\Users\561951\thumbnails</value>
                </setting>
                <setting name="unityPath" serializeAs="String">
                        <value>C:\Temp\!!!Work!!!\Semester 2\Development-Project-2-Final\Unity\Scenarios\Builds\Scenarios.exe</value>
                </setting>
                <setting name="loadsavePath" serializeAs="String">
                        <value />
                </setting>
                <setting name="arcOutputPath" serializeAs="String">
                        <value />
                </setting>
        </Scenarios.Storyboard.Properties.Settings>
    </userSettings>
</configuration>